* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
  }
/****************Главное тело*******************/
html {
width: 100%;
height: 100%;
}
body { 
width: 100%;   
max-width: 1920px;
max-height: 1080px;
font-size: 14px;
font-family: cursive, sans-serif;
line-height: 25px;
position: absolute;
left: 50%;
transform: translateX(-50%);
background: black;
background-image: url(img/12345.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
min-height: 100vh;
display: grid;
grid-template-rows: 1fr auto;
overflow: auto;
}
/*******************Топ=хедер*******************/
.header-site {
height: 8vh;
display: flex;
flex-direction: row;
justify-content: start;
width: 100%;
background-color: rgba(112, 98, 98, 0.3);
position:sticky;
top:0;
z-index: 1;
}

/********************Меню(хедер)*****************************/
.navigation .menu {
display: flex;
justify-content: start;
margin: 0;
padding: 0;
list-style-type: none;
text-decoration: none;
font-size: 18px;
color:red;
border-bottom: 3px solid white;
font-family: cursive, sans-serif;
height: 50px;

}
/******************Меню-лист(хэдер)***************************/
.navigation .menu > .menu-list {
  position: relative;
}
/******************Лого в меню(хэдер)***************************/
.logo img {
margin: 8px 10px;
border-radius: 35%;
/*background-image: url(img/logo_2Pac.jpg);*/
}
/******************Меню-ссылки(хэдер)***************************/
.menu-link {
color:white;
font-weight: 700px;
display: block;
padding: 15px 5px;
margin: 5px 5px;
text-decoration:none;
max-width: 120px;
}
/******************Меню-лист (наведение)(хэдер)***************************/
.menu-link:hover {
background-color:white;
border-radius: 20px 5px;
border: 1px solid black;
color: black;
transition: .5s ease-in-out;
}
/******************Меню-лист (выпадающий список)(хэдер)***************************/
.menu .sub-menu {
display: none;
position: absolute;
margin: 0;
padding:0;
width: auto;
background-color: dimgray;
list-style: none;
}
/******************Меню-лист (выпадающий список)(хэдер)***************************/
.menu .sub-menu .menu-link {
border: 3px solid black;
}
/******************Меню-лист (выпадающий список)(хэдер)***************************/
.menu > .menu-list:hover .sub-menu {
display: block;
}
/******************Меню-лист (выпадающий список)(хэдер)***************************/
.menu > .menu-list {
    width: auto;
    margin:0;
    padding:0;
}
/******************Меню-лист (выпадающий список)(хэдер)***************************/
.sub-menu-link {
color:white;
font-weight: 700px;
display: block;
padding: 5px 5px;
margin: 5px 5px;
text-decoration:none;
border: 2px solid black;
}
/******************Меню-лист (выпадающий список)(хэдер)***************************/
.sub-menu-link:hover {
background-color:dimgray;
border-radius: 20px;
border: 1px solid black;
color: black;
transition: .5s ease-in-out;
border: 2px solid white;
}
/******************Надпись (хэдер)***************************/
.top-img img {
height: 65px;
margin-left: 140px;
}
/******************Поиск(хэдер)***************************/
.form-search{
  display: flex;
  justify-content: end;
}
/******************Поиск (хэдер)***************************/
.input-search {
margin: 5px;
height: 55px;
width: 100px;
margin-right:0;
padding: 5px 0 5px 5px;
border: 0 none;
background-color: #453f3f;
color: black;
float: left;
font-size: 20px;
box-sizing: border-box;
transition: all 0.15s;
margin-left: 120px;
}
/******************Поиск (хэдер)***************************/
.input-search:focus {
background: dimgray;
}
/******************Поиск (хэдер)***************************/
.input-button {
margin: 5px;
border: 0 none;
}
/******************Общая страница***************************/
main {
padding:0;
margin: 0;
display: grid;

}
.section-homepage {
min-height: 100vh;
}

 /******************Главная страница***************************/
.name-quote {
font-size: 35px;
font-weight: 500;
color: white;
}
.heading-2Pac {
font-size: 55px;
font-weight: 700;
position: fixed;
left: 200px;
top: 650px;
}
 /******************Главная страница***************************/
.quote-2Pac {
line-height: 30px;
position: fixed;
left: 200px;
top: 800px;
}
 /******************Главная страница***************************/
.name-2Pac { 
font-size: 30px;
display: block;
text-align: right;
padding-top: 10px;
}

 /******************Главная страница***************************/
/* VIDEO */
.video {
  left: 400px;
  top: 400px;
  position: fixed;
  z-index: auto;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
}
 /******************Главная страница***************************/
.controls {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 75px;
  top: 300px;
}
.btn {
  background: transparent;
  border: hidden;
  outline: hidden;
  padding: 10px 0;
  color:white;
}
/**********************Новостной контент***********************/
.news-link {
color:white;
text-decoration:none;
font-weight: 700px;
font-size: 65px;
position: fixed;
left: 1600px;
top: 800px;
}
.section-news-feed {
  background: rgba(112, 98, 98, 0.3);
  width: 1600px;
  margin:0 auto;
  min-height: 100vh;
}
.heading-news {
  background-color: darkblue;
  width: 100px;
  text-align: center;
} 
 /******************Боттом-футер***************************/
.footer-site {
grid-row-start: 2;
grid-row-end: 3;
height: 5vh;
background-color:gray;
color:white;   
text-align: center;
font-size: 20px;
width: 100%; 
display: flex;
justify-content: center;
position: fixed;
bottom: 0;
} 




