* {
	margin: 0;
	padding: 0;
  }
/****************Главное тело*******************/
body {    
width: 100%;
height: 100%;
max-width: 1920px;
max-height: 1080px;
font-size: 14px;
font-family: cursive, sans-serif;
line-height: 25px;
position: absolute;
left: 50%;
transform: translateX(-50%);
background: black;
background-image: url(img/12345.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
display: flex;
flex-direction: column;
min-height: 100%;
}
/*******************Топ=хедер*******************/
.top-site {
height: 65px;
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: start;
position: fixed; /***************ПРижатие к верх вне зависимости от скролла****************/
top:0;
width: 100%;
}
/********************Меню(хедер)*****************************/
.navigation .menu {
display: flex;
justify-content: start;
margin: 0;
padding: 0;
list-style-type: none;
text-decoration: none;
font-size: 18px;
color:red;
border-bottom: 3px solid white;
font-family: cursive, sans-serif;
height: 50px;

}
/******************Меню-лист(хэдер)***************************/
.navigation .menu > .menu-list {
  position: relative;
}
/******************Лого в меню(хэдер)***************************/
.logo img {
margin: 8px 10px;
border-radius: 35%;
/*background-image: url(img/logo_2Pac.jpg);*/
}
/******************Меню-ссылки(хэдер)***************************/
.menu-link {
color:white;
font-weight: 700px;
display: block;
padding: 15px 5px;
margin: 5px 5px;
text-decoration:none;
max-width: 120px;
}
/******************Меню-лист (наведение)(хэдер)***************************/
.menu-link:hover {
background-color:white;
border-radius: 20px 5px;
border: 1px solid black;
color: black;
transition: .5s ease-in-out;
}
/******************Меню-лист (выпадающий список)(хэдер)***************************/
.menu .sub-menu {
display: none;
position: absolute;
margin: 0;
padding:0;
width: auto;
background-color: dimgray;
list-style: none;
}
/******************Меню-лист (выпадающий список)(хэдер)***************************/
.menu .sub-menu .menu-link {
border: 3px solid black;
}
/******************Меню-лист (выпадающий список)(хэдер)***************************/
.menu > .menu-list:hover .sub-menu {
display: block;
}
/******************Меню-лист (выпадающий список)(хэдер)***************************/
.menu > .menu-list {
    width: auto;
    margin:0;
    padding:0;
}
/******************Меню-лист (выпадающий список)(хэдер)***************************/
.sub-menu-link {
color:white;
font-weight: 700px;
display: block;
padding: 5px 5px;
margin: 5px 5px;
text-decoration:none;
border: 2px solid black;
}
/******************Меню-лист (выпадающий список)(хэдер)***************************/
.sub-menu-link:hover {
background-color:dimgray;
border-radius: 20px;
border: 1px solid black;
color: black;
transition: .5s ease-in-out;
border: 2px solid white;
}
/******************Надпись (хэдер)***************************/
.top-img img {
height: 65px;
margin-left: 140px;
}
/******************Поиск(хэдер)***************************/
.form-search{
  display: flex;
  justify-content: end;
}
/******************Поиск (хэдер)***************************/
.input-search {
margin: 5px;
height: 55px;
width: 100px;
margin-right:0;
padding: 5px 0 5px 5px;
border: 0 none;
background-color: #453f3f;
color: black;
float: left;
font-size: 20px;
box-sizing: border-box;
transition: all 0.15s;
margin-left: 140px;
}
/******************Поиск (хэдер)***************************/
.input-search:focus {
background: dimgray;
}
/******************Поиск (хэдер)***************************/
.input-button {
margin: 5px;
border: 0 none;
}
/******************Общая страница***************************/
main {
flex: 1 0 auto;
}
 /******************Главная страница***************************/
#homepage {
margin: 0;
padding: 0;
text-align: center;
}
 /******************Главная страница***************************/
.page1 {
font-size: 35px;
font-weight: 700;
position: absolute;
left: 70px;
top:700px;
color: white;
}
 /******************Главная страница***************************/
.page1 p {
font-size: 25px;
line-height: 30px;
position: relative;
font-family: 'Times New Roman', Times, serif; 
left: 150px;
top: 50px;
border:0px solid dimgray;
padding: 15px 25px;
color:white; 
}
 /******************Главная страница***************************/
.page1 .tupac { 
color: white;
font-family: 'Times New Roman', Times, serif; 
font-size: 20px;
display: block;
text-align: right;
padding-top: 10px;
}


 /******************Главная страница***************************/
/* VIDEO */

.video {
  left: 400px;
  top: 390px;
  position: fixed;
  z-index: auto;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
}
/*
.buttonFullscreen {
  position: absolute;
  bottom:0;
  left:0;
  z-index:10;
}
 /******************Главная страница***************************/
.controls {
  display: flex;
  width: 60px;
  height: 60px;
  position: fixed;
  left: 100px;
  top: 500px;
  border-radius: 30%;
}
 /******************Боттом-футер***************************/
.footer-site {
height: 30px;
background-color:gray;
color:white;   
text-align: center;
font-size: 20px; 
flex: 0 0 auto;
}



